<h1 class="title is-size-1-desktop has-text-centered has-text-primary">Bienvenue chez Reviewlution !
  <!-- <strong class="has-text-secondary">Reviewlution !</strong> -->
</h1>

<h2 class="subtitle is-size-3-desktop has-text-centered has-text-primary">L'art de se maquiller les yeux fermés.</h2>

<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-3-desktop has-text-centered has-text-white">
        Comment est née Reviewlution ?
      </h1>
      <h2 class="subtitle is-size-4-desktop has-text-centered has-text-white">
        La motivation à l'origine de la marque
      </h2>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-3-desktop has-text-centered has-text-white">
        Comment est née Reviewlution ?
      </h1>
      <h2 class="subtitle is-size-4-desktop has-text-centered has-text-white">
        La motivation à l'origine de la marque
      </h2>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-3-desktop has-text-centered has-text-white">
        Comment est née Reviewlution ?
      </h1>
      <h2 class="subtitle is-size-4-desktop has-text-centered has-text-white">
        La motivation à l'origine de la marque
      </h2>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-3-desktop has-text-centered has-text-white">
        Comment est née Reviewlution ?
      </h1>
      <h2 class="subtitle is-size-4-desktop has-text-centered has-text-white">
        La motivation à l'origine de la marque
      </h2>
    </div>
  </div>
</section>