$family-primary: "Pacifico";
$family-sans-serif: "Pacifico", sans-serif;

$blue: rgb(0, 0, 90);
$green: rgb(0, 220, 90);
$highgreen: #47d847;
$yellow: #f7b32a;
$red: #dc3232;
$white: #fff;
$black: #000;
$info: hsl(204, 86%, 53%);

$grey-darker: rgba(10, 10, 10, 0.75);
$grey-dark: rgba(10, 10, 10, 0.5);
$grey: rgba(30, 30, 30, 0.2);
$grey-light: rgba(40, 40, 40, 0.1);
$grey-lighter: rgba(190, 190, 190, 0.1);

$primary: #6f43d6;
$secondary: #70efdd;
$tertiary: #f36d6d;
$primary-2: #410079;
$secondary-2: #d4faf5;
$ui-1: $white;
$ui-2: #58627c;
$ui-3: #929292;
$ui-4: #f2f4f8;
$ui-5: #2e374d;
$success: $highgreen;
$warning: $yellow;
$danger: $red;
$error: $red;
